image: docker.io/drycc/stack-images:18-build
manifests:
  -
    image: docker.io/drycc/stack-images:18-linux-amd64-build
    platform:
      architecture: amd64
      os: linux
  -
    image: docker.io/drycc/stack-images:18-linux-arm64-build
    platform:
      architecture: arm64
      os: linux

